# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/*
# diretórios cujo conteúdo é gerado dinamicamente
assets/*
protected/runtime/*
upload/*
node_modules/
/vendor/
